<!DOCTYPE html>
<html lang="{{site.locale-url-prefix}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Peta Jakarta">
    <meta name="author" content="Peta Jakarta">
    <meta name="twitter:widgets:csp" content="on">

    <!--Twitter card-->
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@petajkt">
    <meta name="twitter:creator" content="@petajkt">
    <meta name="twitter:url" content="http://www.youtube.com/watch?v={{twitter-card.youtube-video-id}}">
    <meta name="twitter:title" content="{{twitter-card.title}}">
    <meta name="twitter:description" content="{{twitter-card.description}}">
    <meta name="twitter:image" content="https://i1.ytimg.com/vi/{{twitter-card.youtube-video-id}}/hqdefault.jpg">
    <meta name="twitter:app:name:iphone" content="YouTube">
    <meta name="twitter:app:id:iphone" content="544007664">
    <meta name="twitter:app:name:ipad" content="YouTube">
    <meta name="twitter:app:id:ipad" content="544007664">
    <meta name="twitter:app:url:iphone" content="vnd.youtube://watch/{{twitter-card.youtube-video-id}}">
    <meta name="twitter:app:url:ipad" content="vnd.youtube://watch/{{twitter-card.youtube-video-id}}">
    <meta name="twitter:app:name:googleplay" content="YouTube">
    <meta name="twitter:app:id:googleplay" content="com.google.android.youtube">
    <meta name="twitter:app:url:googleplay" content="http://www.youtube.com/watch?v={{twitter-card.youtube-video-id}}">
    <meta name="twitter:player" content="https://www.youtube.com/embed/{{twitter-card.youtube-video-id}}">
    <meta name="twitter:player:width" content="560">
    <meta name="twitter:player:height" content="315">

    <title>{{{site.name}}}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/{{site.url-prefix}}/assets/img/petajakarta_icon_32x32.png">

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- Site stylesheet -->
    <link href="/{{site.url-prefix}}/css/application.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/"><img src="/{{site.url-prefix}}/img/petajakarta_border_top.png" width="252" height="48" alt="" margin-top="2px"/></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/">{{{navbar.home}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/map">{{{navbar.map}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/analytics">{{{navbar.analytics}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/data">{{{navbar.data}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.other-locale-url-prefix}}/">[{{{navbar.other-locale}}}]</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    <!--Logos at top of page at request of Gov. Ahok-->
    <!--Margins left/right fix bootstrap bug https://github.com/twbs/bootstrap/issues/10711-->
    <div class="row" style="margin-top:100px; margin-bottom:50px; margin-left:0px; margin-right:0px;">
      <div class="col-xs-3">
        <img class="img-responsive center-block" src="/{{site.url-prefix}}/img/smart_australia.png" width="100" alt=""/>
      </div>
      <div class="col-xs-3">
        <img class="img-responsive center-block" src="/{{site.url-prefix}}/img/dki_jayaraya.png" width="100" alt=""/>
      </div>
      <div class="col-xs-3">
        <img class="img-responsive center-block" src="/{{site.url-prefix}}/img/bpbd_dki.png" width="100" alt=""/>
      </div>
      <div class="col-xs-3">
        <img class="img-responsive center-block" src="/{{site.url-prefix}}/img/twitter_logo_blue.png" width="100" alt=""/>
      </div>
    </div>
  </div>
    <!-- Jumbotron -->
    <div id="headerwrap">
      <div class="container">
        <div class="jumbotron">
          <h1 id="title">{{{header.title}}}</h1>
          <p class="lead">{{{header.lead}}}</p>
          <div id="video">
            <iframe width="560" height="315" src="{{{header.video-url}}}?modestbranding=1&theme=light&controls=2&showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Main page body -->
    <div class="container">
      <!-- Links -->
      <div class="row">
        <div class="col-md-4 col-md-offset-2 centered">
          <a href="#sharing-instructions-anchor"><img src="/{{site.url-prefix}}/img/submit.png" alt="">
            <h3>{{{intro.share.title}}}</h3>
            <p>{{{intro.share.content}}}</p>
          </a>
          <a class="btn btn-default" href="#sharing-instructions-anchor">{{{intro.share.button-title}}} »</a>
        </div>
        <div class="col-md-4 centered">
          <a href="./map">
            <img src="/{{site.url-prefix}}/img/map.png" alt="Map">
            <h3>{{{intro.map.title}}}</h3>
            <p>{{{intro.map.content}}}</p>
          </a>
          <a class="btn btn-default" href="./map">{{{intro.map.button-title}}} »</a>
        </div>
      </div>

      <!-- Sharing instructions -->
      <div class="row" id="sharing-instructions">
        <a id="sharing-instructions-anchor" class="anchor"></a>
        <div class="col-md-12 centered">
          <hr>
          <h1>{{{sharing-instructions.title}}}</h1>
        </div>
        <div class="col-md-8 col-md-offset-1">
          {{#each sharing-instructions.steps}}
            <h3>{{{title}}}</h3>
            <p>{{{content}}}</p>
          {{/each}}
        </div>
        <div class="col-md-3">
          <blockquote class="twitter-tweet" lang="en"><p>Tweet info <a href="https://twitter.com/hashtag/banjir?src=hash">#banjir</a> ke <a href="https://twitter.com/petajkt">@petajkt</a> &amp; follow <a href="https://twitter.com/BPBDJakarta">@BPBDJakarta</a> untuk info resmi terkini terkait kondisi banjir. <a href="http://t.co/VYShDqRB1f">pic.twitter.com/VYShDqRB1f</a></p>&mdash; BPBDJakarta (@BPBDJakarta) <a href="https://twitter.com/BPBDJakarta/status/542471254142615552">December 10, 2014</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

      <!-- About us -->
      <div class="row">
        <div class="col-md-12 centered">
          <hr>
          <h1>{{{about.title}}}</h1>
        </div>
        <div class="col-md-8 col-md-offset-1">
          {{{about.intro}}}
          <h3>{{{about.privacy.title}}}</h3>
          <p>{{{about.privacy.content}}}</p>
          <h3>{{{about.contact.title}}}</h3>
          <p>E-mail <a href="mailto:info@petajakarta.org">info@petajakarta.org</a></p>
          <p>{{{about.contact.follow-us}}} <a href="https://twitter.com/petajkt" target="_blank">Twitter</a></p>
        </div>
        <div class="col-md-3">
          <blockquote class="twitter-tweet" lang="en"><p>Selamat Tahun Baru 2015 dari <a href="http://t.co/GauT6N9nFH">http://t.co/GauT6N9nFH</a>! Jangan lupa follow dan tweet situasi <a href="https://twitter.com/hashtag/banjir?src=hash">#banjir</a> ke <a href="https://twitter.com/petajkt">@petajkt</a> :) <a href="http://t.co/NirE7h9VF1">pic.twitter.com/NirE7h9VF1</a></p>&mdash; PetaJakarta.org (@petajkt) <a href="https://twitter.com/petajkt/status/552386097079390210">January 6, 2015</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>

    <!-- Page footer -->
    <div class="container" id="page-foot">
      <hr>
      <div class="row centered">
        <p class="centered">PetaJakarta.org &copy; 2014 SMART Infrastructure Facility, University of Wollongong</p>
      </div>
    </div>

    <!-- Site JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/{{site.url-prefix}}/js/application.min.js"></script>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46996603-1', 'petajakarta.org');
      ga('send', 'pageview');
    </script>

    <script>
      'use strict';

      $(function() {
          // Figure out and save aspect ratio for each video
          $('iframe[src^="//www.youtube.com"]').each(function() {
              $(this).data('aspectRatio', this.height / this.width)
                     .removeAttr('height')
                     .removeAttr('width');
          });

          // When the window is resized
          $(window).resize(function() {
              // Resize all videos according to their own aspect ratio
              $('iframe[src^="//www.youtube.com"]').each(function() {
                  var $this = $(this);
                  var newWidth = $this.parent().width();
                  $this.width(newWidth)
                     .height(newWidth * $this.data('aspectRatio'));
              });
          }).resize();
      });
    </script>
  </body>
</html>
