<!DOCTYPE html>
<html lang="{{site.locale-url-prefix}}" style="width: 100%; height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Site stylesheet -->
    <link href="/{{site.url-prefix}}/css/common.min.css" rel="stylesheet">
    <link href="/{{site.url-prefix}}/css/map.min.css" rel="stylesheet">

  </head>

  <body class="{{{site.locale-url-prefix}}}" style="width: 100%; height: 100%; margin: 0;">

        <!-- Modal -->
        <div class="modal fade" id="reportsModal" tabindex="-1" role="dialog" aria-labelledby="reportsModal" aria-hidden="true" style="height:500px;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{{confirmed-reports.title}}}</h4>
                {{{confirmed-reports.instructions}}}
              </div>
              <div class="modal-body" id="modal-reports-body" style="height:300px; overflow:scroll;">
              </div>
              <div class="modal-footer">
                <div class="pull-left"><label><input type="checkbox" autocomplete="off" onclick="petajakarta.toggle_timestamp(this.checked);">{{{confirmed-reports.timestamp}}}</label></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- Info Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true" style="height:500px;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{{map-information.title}}}</h4>
              </div>
              <div class="modal-body" id="modal-info-body" style="height:300px; overflow:scroll;">
                {{{map-information.acknowledgements}}}
              </div>
              <div class="modal-footer">
                <h5 class="pull-left">PetaJakarta.org &copy; SMART Infrastructure Facility, University of Wollongong</h5>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
    <div id="map" class="map embedded" style="width: 100%; height: 100%;"></div>

  <!-- Site JavaScript -->
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  
  <script src="/{{site.url-prefix}}/js/common.min.js"></script>
  <script src="/{{site.url-prefix}}/js/map.min.js"></script>

</body>
</html>
