{{!

This file is a demonstration of embedding an inline map.

The map element, CSS and JS includes required are used in this source code.

}}
<!DOCTYPE html>
<html lang="{{site.locale-url-prefix}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Site stylesheet -->
    <link href="/{{site.url-prefix}}/css/common.min.css" rel="stylesheet">
    <link href="/{{site.url-prefix}}/css/map.min.css" rel="stylesheet">

  </head>

  <body class="{{{site.locale-url-prefix}}}">

    <div id="includes"></div>
        
    <div id="map" class="map embedded" style="width: 500px; height: 300px; margin: 100px;"></div>

    <!-- Site JavaScript -->
    <script src="/{{site.url-prefix}}/js/common.min.js"></script>
    <script src="/{{site.url-prefix}}/js/map.min.js"></script>

  </body>
</html>
