<!DOCTYPE html>
<html lang="{{site.locale-url-prefix}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Peta Jakarta">
    <meta name="author" content="Peta Jakarta">

    <link rel="shortcut icon" href="/{{site.url-prefix}}/img/petajakarta_icon_32x32.png">

    <!--Twitter card-->
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@petajkt">
    <meta name="twitter:creator" content="@petajkt">
    <meta name="twitter:url" content="https://petajakarta.org/banjir/id/map">
    <meta name="twitter:title" content="PetaJakarta.org is a free and open source real-time flood map.">
    <meta name="twitter:description" content="PetaJakarta.org maps flood tweets and displays real-time information for navigation, safety, and response. Tweet #banjir with your geolocation enabled @petajkt to add your report to the map.">
    <meta name="twitter:image" content="https://petajakarta.org/banjir/img/wp_fig15.jpg">
    <meta name="twitter:player" content="https://petajakarta.org/banjir/id/map-embed/">
    <meta name="twitter:player:width" content="500">
    <meta name="twitter:player:height" content="400">

    <title>{{{site.name}}}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/{{site.url-prefix}}/img/petajakarta_icon_32x32.png">

    <!-- Fonts from Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>

    <!-- Site stylesheet -->
    <link href="/{{site.url-prefix}}/css/common.min.css" rel="stylesheet">
    <link href="/{{site.url-prefix}}/css/site.min.css" rel="stylesheet">
    <link href="/{{site.url-prefix}}/css/map.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{{{site.locale-url-prefix}}}">

    <div id="page">
      <div id="header">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/"><img src="/{{site.url-prefix}}/img/petajakarta_white_pixel_top.png" width="auto" height="48" alt=""/></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color:#CCC;"></span>
                <span class="icon-bar" style="background-color:#CCC;"></span>
                <span class="icon-bar" style="background-color:#CCC;"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/">{{{navbar.home}}}</a></li>
                <li class="active"><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/map/">{{{navbar.map}}}</a></li>
                <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/research/">{{{navbar.research}}}</a></li>
                <!--<li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/analytics/">{{{navbar.analytics}}}</a></li>-->
                <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/data/v2">Data</a></li>
                <li><a href="/{{site.url-prefix}}/{{site.other-locale-url-prefix}}/map/">[{{{navbar.other-locale}}}]</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="includes"></div>
      </div>

      <div id="content">
        <div id="map" class="map site"></div>
      </div>

    </div>

    <!-- Site JavaScript -->

    <script> //Determine if device is touchscreen/mobile
      window.isTouch = (('ontouchstart' in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0));

      if (window.isTouch){
        L_PREFER_CANVAS = true; //Leaflet canvas rendering
      }
    </script>
    <script src="/{{site.url-prefix}}/js/common.min.js"></script>
    <script src="/{{site.url-prefix}}/js/site.min.js"></script>
    <script src="/{{site.url-prefix}}/js/map.min.js"></script>

	<script>
	$(function() {
		petajakarta.config.urlPrefix = '/banjir/';
		petajakarta.config.serverUrlPrefix = '/banjir/';
		petajakarta.start();
	});
	</script>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46996603-1', 'petajakarta.org');
      ga('send', 'pageview');
    </script>

  </body>
</html>
