<!DOCTYPE html>
<html lang="{{site.locale-url-prefix}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Peta Jakarta">
    <meta name="author" content="Peta Jakarta">
    <meta name="twitter:widgets:csp" content="on">

    <!--Twitter card-->
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@petajkt">
    <meta name="twitter:creator" content="@petajkt">
    <meta name="twitter:url" content="https://www.youtube.com/watch?v={{twitter-card-software.youtube-video-id}}">
    <meta name="twitter:title" content="{{twitter-card-software.title}}">
    <meta name="twitter:description" content="{{twitter-card-software.description}}">
    <meta name="twitter:image" content="https://i1.ytimg.com/vi/{{twitter-card-software.youtube-video-id}}/hqdefault.jpg">
    <meta name="twitter:app:name:iphone" content="YouTube">
    <meta name="twitter:app:id:iphone" content="544007664">
    <meta name="twitter:app:name:ipad" content="YouTube">
    <meta name="twitter:app:id:ipad" content="544007664">
    <meta name="twitter:app:url:iphone" content="vnd.youtube://watch/{{twitter-card-software.youtube-video-id}}">
    <meta name="twitter:app:url:ipad" content="vnd.youtube://watch/{{twitter-card-software.youtube-video-id}}">
    <meta name="twitter:app:name:googleplay" content="YouTube">
    <meta name="twitter:app:id:googleplay" content="com.google.android.youtube">
    <meta name="twitter:app:url:googleplay" content="https://www.youtube.com/watch?v={{twitter-card-software.youtube-video-id}}">
    <meta name="twitter:player" content="https://www.youtube.com/embed/{{twitter-card-software.youtube-video-id}}">
    <meta name="twitter:player:width" content="420">
    <meta name="twitter:player:height" content="315">

    <title>{{{site.name}}}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/{{site.url-prefix}}/img/petajakarta_icon_32x32.png">

    <!-- Site stylesheet -->
    <link href="/{{site.url-prefix}}/css/common.min.css" rel="stylesheet">
    <link href="/{{site.url-prefix}}/css/site.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/"><img src="/{{site.url-prefix}}/img/petajakarta_white_pixel_top.png" width="auto" height="48" alt=""/></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color:#CCC;"></span>
            <span class="icon-bar" style="background-color:#CCC;"></span>
            <span class="icon-bar" style="background-color:#CCC;"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/">{{{navbar.home}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/map/">{{{navbar.map}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/research/">{{{navbar.research}}}</a></li>
            <li class="active"><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/software">{{{navbar.software}}}</a></li>
            <!--<li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/analytics/">{{{navbar.analytics}}}</a></li>-->
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/data/v2">{{{navbar.data}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.other-locale-url-prefix}}/software">[{{{navbar.other-locale}}}]</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container top-navbar-padding">
      <h1 style="margin-left:13px;">{{{software.title}}}</h1>
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-md-8">
        <p class="lead" style="text-align:justify;">{{{software.lead}}}</p>
        <h3>{{{software.video_title}}}</h3>
        <p class="lead" style="text-align:justify;">{{{software.video_text}}}</p>
        <p class="lead">{{{software.video_updates}}}</p>
          <div class="video" style="margin-top:20px; margin-right:2%;">
            <iframe width="640" height="480" src="//www.youtube.com/embed/PmxdjXRp3bg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <!--Right column-->
        <div class="col-md-4">
          <div class="well">
            <!--Privacy text-->
            <h3>{{{software.source_code}}}</h3>
            <p class="lead">{{{software.github}}}</p>
            <!--Contact-->
            <h3><a name="contact"></a>{{data.contact.title}}</h3>
            <p class="lead">{{{data.contact.email}}}<BR>
              {{{data.contact.twitter}}}
            </p>
          </div>
        </div>

      </div>
    </div>

    <!-- Page footer -->
    <div class="container" id="page-foot">
      <hr>
      <div class="row centered">
        <p class="centered">PetaJakarta.org &copy; 2015 SMART Infrastructure Facility, University of Wollongong</p>
      </div>
    </div>

    <!-- Site JavaScript -->
    <script src="/{{site.url-prefix}}/js/common.min.js"></script>
    <script src="/{{site.url-prefix}}/js/site.min.js"></script>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46996603-1', 'petajakarta.org');
      ga('send', 'pageview');
    </script>

    <!-- Video resize -->
    <script>
      'use strict';

      $(function() {
          // Figure out and save aspect ratio for each video
          $('iframe[src^="//www.youtube.com"]').each(function() {
              $(this).data('aspectRatio', this.height / this.width)
                     .removeAttr('height')
                     .removeAttr('width');
          });

          // When the window is resized
          $(window).resize(function() {
              // Resize all videos according to their own aspect ratio
              $('iframe[src^="//www.youtube.com"]').each(function() {
                  var $this = $(this);
                  var newWidth = $this.parent().width();
                  $this.width(newWidth)
                     .height(newWidth * $this.data('aspectRatio'));
              });
          }).resize();
      });
    </script>
  </body>
</html>
