<!DOCTYPE html>
<html lang="{{site.locale-url-prefix}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Peta Jakarta">
    <meta name="author" content="Peta Jakarta">
    <meta name="twitter:widgets:csp" content="on">

    <title>{{{site.name}}}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/{{site.url-prefix}}/img/petajakarta_icon_32x32.png">

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- Site stylesheet -->
    <link href="/{{site.url-prefix}}/css/application.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/"><img src="/{{site.url-prefix}}/img/petajakarta_white_pixel_top.png" width="auto" height="48" alt=""/></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color:#CCC;"></span>
            <span class="icon-bar" style="background-color:#CCC;"></span>
            <span class="icon-bar" style="background-color:#CCC;"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/">{{{navbar.home}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/map/">{{{navbar.map}}}</a></li>
            <li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/research/">{{{navbar.research}}}</a></li>
            <!--<li><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/analytics/">{{{navbar.analytics}}}</a></li>-->
            <li class="active"><a href="/{{site.url-prefix}}/{{site.locale-url-prefix}}/data/v2">{{{navbar.data}}}</a></li>
            <li><a href="#">[{{{navbar.other-locale}}}]</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container top-navbar-padding">
      <h1 style="margin-left:13px;">{{data.v2.title}}</h1>
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-md-8">
        <p class="lead">{{{data.v2.lead}}}</p>
          <h3>{{data.v2.available}}</h3>
          <table class="table table-responsive table-hover">
          <thead>
            {{#each data.v2.tblData}}
            <tr>
              <th>{{hName}}</th>
              <th>{{hAPI}}</th>
              <th>{{hDescription}}</th>
            </tr>
          </thead>
          <tbody>
              {{#each fields}}
              <tr>
                <td>{{name}}</td>
                <td><a href="{{url}}">{{api}}</a></td>
                <td>{{description}}</td>
              </tr>
              {{/each}}
          </tbody>
          {{/each}}
        </table>
        </div>
        <!--Right column-->
        <div class="col-md-4">
          <div class="well">
            <!--Privacy text-->
            <h3>{{data.v2.privacy.title}}</h3>
            <p class="lead">{{data.v2.privacy.text}}</p>
            <!--License-->
            <h3 style="margin-bottom:2px;">{{{data.v2.licensing.title}}}</h3>
            <p class="lead">{{{data.v2.licensing.text}}}</p>
            <!--Archive-->
            <h3 style="margin-bottom:2px;">{{{data.v2.archive.title}}}</h3>
            <p class="lead">{{{data.v2.archive.text}}}</p>
            <!--Contact-->
            <h3><a name="contact"></a>{{data.contact.title}}</h3>
            <p class="lead">Email: <a href="mailto:info@petajakarta.org">info@petajakarta.org</a><BR>Twitter:
            <a href="https://twitter.com/petajkt" target="_blank">@petajkt</a>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <hr>
          <h1>{{{data.v2.api.title}}}</h1>
          <p class="lead">{{{data.v2.api.description}}}</p>
          {{#each api_v2.endpoints}}
            <a name="{{short}}" class="anchor"></a>
            <h2>{{name}}</h2>

            {{#each methods}}
              {{#if MethodName}}
              <a name="{{MethodName}}" class="anchor"></a>
                <h3>{{MethodName}}</h3>
              {{/if}}
              <p class="lead">{{Synopsis}}</p>
              <p><pre><strong>{{HTTPMethod}}</strong> <a href={{URI}} target="_blank">{{URI}}</a></pre></p>

              {{#if parameters}}
                <h4>Parameters</h4>
                <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Required</th>
                    <th>Type</th>
                    <th>Options</th>
                  </tr>
                </thead>
                  <tbody>
                    {{#each parameters}}
                      <tr>
                        <td>{{Name}}</td>
                        <td>{{Description}}</td>
                        <td>{{Required}}</td>
                        <td>{{Type}}</td>
                        {{#if EnumeratedList}}
                          <td><pre>{{EnumeratedList}}</pre></td>
                        {{else}}
                          <td>—</td>
                        {{/if}}
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/if}}
              <h4>Results</h4>
              <table class="table table-responsive table-hover">
              {{#each tblAttributes}}
              <thead>
                <tr>
                  <th>{{hField}}</th>
                  <th>{{hDescription}}</th>
                  <th>{{hType}}</th>
                </tr>
              </thead>
              <tbody>
              {{#each fields}}
                <td>{{field}}</td>
                <td>{{description}}</td>
                <td>{{type}}</td>
              </tr>
              {{/each}}
              </tbody>
            {{/each}}
            </table>
            <hr>
            {{/each}}
          {{/each}}
        </div>
      </div>
    </div>

    <!-- Page footer -->
    <div class="container" id="page-foot">
      <hr>
      <div class="row centered">
        <p class="centered">PetaJakarta.org &copy; 2015 SMART Infrastructure Facility, University of Wollongong</p>
      </div>
    </div>

    <!-- Site JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/{{site.url-prefix}}/js/application.min.js"></script>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46996603-1', 'petajakarta.org');
      ga('send', 'pageview');
    </script>

    <!-- Video resize -->
    <script>
      'use strict';

      $(function() {
          // Figure out and save aspect ratio for each video
          $('iframe[src^="//www.youtube.com"]').each(function() {
              $(this).data('aspectRatio', this.height / this.width)
                     .removeAttr('height')
                     .removeAttr('width');
          });

          // When the window is resized
          $(window).resize(function() {
              // Resize all videos according to their own aspect ratio
              $('iframe[src^="//www.youtube.com"]').each(function() {
                  var $this = $(this);
                  var newWidth = $this.parent().width();
                  $this.width(newWidth)
                     .height(newWidth * $this.data('aspectRatio'));
              });
          }).resize();
      });
    </script>
  </body>
</html>
